

<div class="theme-layout" id="scrollup">


  <header class="stick-top">
    <div class="menu-sec">
      <div class="container">
        <div class="logo">
          <a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a>
        </div>
     
       
      </div>
    </div>
  </header>

  <section class="overlape">
    <div class="block no-padding">
      <div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Welcome {{userconnectee?.nom}} </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block remove-top">
      <div class="container">
        <div class="row no-gape">
          <aside class="col-lg-3 column border-right">
            <div class="widget">
              <div class="tree_widget-sec">
                <ul>
                  <li><a routerLink="/pcentre" title=""><i class="la la-file-text"></i>Profile</a></li>
                  <li><a routerLink="/listformation" title=""><i class="la la-paper-plane"></i>Liste Formation</a></li>
                  <li><a (click)="deconecter()"   title=""><i class="la la-unlink"></i>Logout</a></li>
                </ul>
              </div>
            </div>
           
          </aside>
          <div class="col-lg-9 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <div class="border-title"><h3>Add a training program</h3><a class="cancel" (click)="reset()"   title=""><i class="la la-close"></i> Cancel</a></div>

               <form [formGroup]="AjouterFormationForm">
                <div class="resumeadd-form">
                  <div class="row">
                    <div class="col-lg-6">
                    <span class="pf-title">Secteur</span>

                        <select  class="pf" formControlName="idsecteur" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }" >

                          <option  *ngFor=" let e of listsecteur" value="{{e.id}}"  >{{e.nom}}</option>
                        </select>
                    </div>

                    <div class="col-lg-12">
                      <span class="pf-title">Titre</span>
                      <div class="pf-field">
                        <input placeholder="Tooms.." formControlName="titre"  [ngClass]="{ 'is-invalid': submitted && f.titre.errors }" type="text">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Date Debut</span>
                      <div class="pf-field">
                        <input placeholder="06.11.2007" type="date" class="datepicker" formControlName="date_deb" [ngClass]="{ 'is-invalid': submitted && f.date_deb.errors }" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Date Fin</span>
                      <div class="pf-field">
                        <input placeholder="06.11.2012" type="date" class="datepicker" formControlName="date_fin"  [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Durée de la Formation</span>
                      <div class="pf-field">
                        <input type="text" placeholder="duree.."class="datepicker" formControlName="duree"  [ngClass]="{ 'is-invalid': submitted && f.duree.errors }">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Nombre de Candidature</span>
                      <div class="pf-field">
                        <input type="text" placeholder="nombre.."class="datepicker" formControlName="nombre"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Prix de Formation</span>
                      <div class="pf-field">
                        <input type="text" placeholder="Prix.." class="datepicker" formControlName="prix"  [ngClass]="{ 'is-invalid': submitted && f.prix.errors }">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <span class="pf-title">Adresse</span>
                      <div class="pf-field">
                        <input type="text" placeholder="adresse" formControlName="adresse"   [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <span class="pf-title" >Description</span>
                      <div class="pf-field">
                        <textarea    formControlName="description"  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <button type="submit" (click)="AjouterFormation()">Ajouter</button>
                    </div>
                  </div>
                </div>

               </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






</div>
