
	
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="/assets/images/icon.png" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="/assets/images/icon2.png" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Home</a>
							<ul>
								<li><a href="index.html" title="">Home Layout 1</a></li>
								<li><a href="index2.html" title="">Home Layout 2</a></li>
								<li><a href="index3.html" title="">Home Layout 3</a></li>
								<li><a href="index4.html" title="">Home Layout 4</a></li>
								<li><a href="index5.html" title="">Home Layout 5</a></li>
								<li><a href="index6.html" title="">Home Layout 6</a></li>
								<li><a href="index7.html" title="">Home Layout 7</a></li>
								<li><a href="index8.html" title="">Home Layout 8</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
							<ul>
								<li><a href="employer_list1.html" title=""> Employer List 1</a></li>
								<li><a href="employer_list2.html" title="">Employer List 2</a></li>
								<li><a href="employer_list3.html" title="">Employer List 3</a></li>
								<li><a href="employer_list4.html" title="">Employer List 4</a></li>
								<li><a href="employer_single1.html" title="">Employer Single 1</a></li>
								<li><a href="employer_single2.html" title="">Employer Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Employer Dashboard</a>
									<ul>
										<li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
										<li><a href="employer_packages.html" title="">Employer Packages</a></li>
										<li><a href="employer_post_new.html" title="">Employer Post New</a></li>
										<li><a href="employer_profile.html" title="">Employer Profile</a></li>
										<li><a href="employer_resume.html" title="">Employer Resume</a></li>
										<li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
										<li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
										<li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
							<ul>
								<li><a href="candidates_list.html" title="">Candidates List 1</a></li>
								<li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
								<li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
								<li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
								<li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Candidates Dashboard</a>
									<ul>
										<li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
										<li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
										<li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
										<li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
										<li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
										<li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
										<li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
										<li><a href="candidates_change_password.html" title="">Change Password</a></li>
										<li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
							<ul>
								<li><a href="blog_list.html"> Blog List 1</a></li>
								<li><a href="blog_list2.html">Blog List 2</a></li>
								<li><a href="blog_list3.html">Blog List 3</a></li>
								<li><a href="blog_single.html">Blog Single</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Job</a>
							<ul>
								<li><a href="job_list_classic.html">Job List Classic</a></li>
								<li><a href="job_list_grid.html">Job List Grid</a></li>
								<li><a href="job_list_modern.html">Job List Modern</a></li>
								<li><a href="job_single1.html">Job Single 1</a></li>
								<li><a href="job_single2.html">Job Single 2</a></li>
								<li><a href="job-single3.html">Job Single 3</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Pages</a>
							<ul>
								<li><a href="about.html" title="">About Us</a></li>
								<li><a href="404.html" title="">404 Error</a></li>
								<li><a href="contact.html" title="">Contact Us 1</a></li>
								<li><a href="contact2.html" title="">Contact Us 2</a></li>
								<li><a href="faq.html" title="">FAQ's</a></li>
								<li><a href="how_it_works.html" title="">How it works</a></li>
								<li><a href="login.html" title="">Login</a></li>
								<li><a href="pricing.html" title="">Pricing Plans</a></li>
								<li><a href="register.html" title="">Register</a></li>
								<li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
							</ul>
						</li>
					</ul>
			</div>
		</div>
	</div>
	
<!-- ***** -->

<header class="stick-top forsticky">
    <div class="menu-sec">
        <div class="container">
            <div class="logo">
                <a href="index.html" title=""><img class="hidesticky" src="/assets/images/resource/logo.png" alt="" /><img class="showsticky" src="/assets/images/resource/logo10.png" alt="" /></a>
            </div><!-- Logo -->
            <div class="btn-extars">
                <a [hidden]="roleuser==='Candidat'" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
                <ul class="account-btns" [hidden]="ison">
                    <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
                    <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
                </ul>
                <div class="my-profiles-sec" [hidden]="!ison">
                    <span><img  width="50px" height="50px" src="http://localhost:8080/upload/files/{{photo}}" alt="" />{{nomuser}}&nbsp;{{prenomuser}}
                        <i class="la la-bars"></i> </span>
				</div>
				<div class="wishlist-dropsec" [hidden]="!ison">
					<span><i class="la la-heart"></i><strong>{{listfavoriebycandidat?.length}}</strong></span>
					<div class="wishlist-dropdown">
						<ul class="scrollbar">
							<li>
								<div class="job-listing">
									<div class="job-title-sec" *ngFor="let f of listfavoriebycandidat">
										<div class="c-logo"> <img src="http://localhost:8080/upload/files/{{f?.offre?.responsableSociete?.logo}}" alt="" /> </div>
										<h3><a href="#" title="">{{f?.offre.titre}}</a></h3>
										<span>{{f?.offre.responsableSociete?.nom}}</span>
									
									</div>
								</div><!-- Job -->
							</li>
						</ul>
					</div>
				</div>
             <!--  <ul class="account-btns" [hidden]="!ison">
             <li ><a (click)="deconecter()" title=""><i  class="la la-external-link-square"></i> decoonecter</a></li>
              </ul> -->
            </div><!-- Btn Extras -->
            <nav>
                <ul>
                    <li class="menu-item-has-children">
                        <a href="" [routerLink]="['']" title="">Home</a>
                       
					</li>
					
                    <li class="menu-item-has-children">
                        <a href="#" title="">Category</a>
                        <ul>
                            <li><a href="employer_list1.html" title=""> Employer List 1</a></li>
                            <li><a href="employer_list2.html" title="">Employer List 2</a></li>
                            <li><a href="employer_list3.html" title="">Employer List 3</a></li>

                            <li class="menu-item-has-children">
                                <a href="#" title="">Employer Dashboard</a>
                                <ul>
                                    <li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
                                     <li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
                                    <li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="" [routerLink]="['/offre']" title="">Offre</a>
                        <ul>
                          <li><a  [routerLink]="['/stage']" title="">Stage</a></li>
                          <li><a  [routerLink]="['/travaille']" title="">Travaille</a></li>
                          

                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="" [routerLink]="['/formation']" title="">Formation</a>
                        <ul>
                            <li><a href="" [routerLink]="['/formation/candidat']"  title="">Candidat</a></li>  
                          </ul>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" title="">Contact</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" title="">Pages</a>
                        <ul>
                            <li><a href="about.html" title="">About Us</a></li>
                            <li><a href="404.html" title="">404 Error</a></li>
                            <li><a href="contact.html" title="">Contact Us 1</a></li>
                            <li><a href="contact2.html" title="">Contact Us 2</a></li>
                            <li><a href="faq.html" title="">FAQ's</a></li>
                            <li><a href="how_it_works.html" title="">How it works</a></li>
                            <li><a href="login.html" title="">Login</a></li>
                            <li><a href="pricing.html" title="">Pricing Plans</a></li>
                            <li><a href="register.html" title="">Register</a></li>
                            <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- Menus -->
        </div>
    </div>
</header>

<!-- SIGNUP POPUP -->
<div class="profile-sidebar">
	<span class="close-profile"><i class="la la-close"></i></span>
	<div class="can-detail-s">
     
       

		<div class="cst"><img src="http://localhost:8080/upload/files/{{photo}}" alt="" /></div>
		<h3 class="menu-item-has-children">  {{nomuser}}&nbsp;{{prenomuser}}</h3>
		<span><i>{{user?.niveauEtude}}</i> </span>
		<p><a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7516071014011c031019140c100706454d4d351218141c195b161a18">[email&#160;protected]</a></p>
		<p>Member Since, 2017</p>
		<p><i class="la la-map-marker"></i>{{user?.adresse}}</p>
	</div>
	<div class="tree_widget-sec">
		<ul>
			<li><a href="candidates_profile.html" title=""><i class="la la-file-text"></i>My Profile</a></li>
			<li><a href="candidates_my_resume.html" title=""><i class="la la-briefcase"></i>My Resume</a></li>
			<li><a href="candidates_shortlist.html" title=""><i class="la la-money"></i>Shorlisted Job</a></li>
			<li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
			<li><a href="candidates_job_alert.html" title=""><i class="la la-user"></i>Job Alerts</a></li>
			<li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Cv & Cover Letter</a></li>
			<li><a href="candidates_change_password.html" title=""><i class="la la-flash"></i>Change Password</a></li>
			<li><a (click)="deconecter()"  title=""><i class="la la-unlink"></i>Logout</a></li>
        </ul>
	</div>
</div><!-- Profile Sidebar -->