
	
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="/assets/images/icon.png" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="/assets/images/icon2.png" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<ul class="account-btns">
				
					<ul class="account-btns" [hidden]="ison">
						<li class="signup-popup"><a title=""><i class="la la-key"></i> Inscription</a></li>
						<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Connexion</a></li>
					</ul>
					
					<div  class="my-profiles-sec" [hidden]="!ison">
						<span  style="color:rgb(184, 218, 218) ;font-size: 100%;"><img  width="55px" height="55px" src="http://localhost:8080/upload/files/{{logo}}" alt="" /> {{nomuser}}&nbsp;{{prenomuser}}
							<i class="la la-bars"></i> </span>
					</div>
					<!--[hidden]="roleuser==='ResponsableCentre'" [hidden]="roleuser==='ResponsableSociete'"-->
					<div class="wishlist-dropsec"   [hidden]="!ison">
						<span [hidden]="roleuser !=='Candidat'" style="color:rgb(184, 218, 218)" ><i  class="la la-heart"></i><strong >{{listfavoriebycandidat?.length}}</strong></span>
						<div class="wishlist-dropdown">
							<ul class="scrollbar" >
								<li>
	
									<div style="margin-bottom: -50px; " *ngFor="let f of listfavoriebycandidat ;let i=index">
										<div class="job-listing wtabs"*ngIf="i<2" >
											<div class="c-logo"> <img src="http://localhost:8080/upload/files/{{f?.offre?.responsableSociete?.logo}}" alt="" /> </div>										
											<h3><a href="#" title="">{{f?.offre.titre}}</a></h3>
											<span>{{f?.offre.responsableSociete?.nom}}</span>									
										</div>
	
	
									</div><!-- Job -->
									<div>
										<span><a style="text-align: center;margin-left: 100px;" routerLink="/favorielist"> Liste Favories</a>
	
										</span>
									</div>
	
								</li>
							</ul>
	
						</div>
						<div class="tree_widget-sec">
							<ul>
								<li><a *ngIf="roleuser==='Candidat'"  routerLink="/candidat/profil" title=""><i class="la la-file-text"></i>Profil</a></li>
								<li><a *ngIf="roleuser==='ResponsableSociete'"  routerLink="/psociete" title=""><i class="la la-file-text"></i>Profil-Société</a></li>
					
								<li><a *ngIf="roleuser==='ResponsableCentre'"  routerLink="/pcentre" title=""><i class="la la-file-text"></i>Profil-Centre</a></li>
					
								<li><a routerLink="howitworks" title=""><i class="la la-briefcase"></i>Resume</a></li>
								<li><a (click)="deconecter()"  title=""><i class="la la-unlink"></i>Logout</a></li>
							</ul>
						</div>
					</div>
				 <!--  <ul class="account-btns" [hidden]="!ison">
				 <li ><a (click)="deconecter()" title=""><i  class="la la-external-link-square"></i> decoonecter</a></li>
				  </ul> -->
				<!-- Btn Extras --></ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
					<nav>
						<ul>
							<li class="menu-item-has-children">
								<a  routerLink="/" title="">Accueil</a>
							   
							</li>
							
							<li class="menu-item-has-children">
								<a [hidden]="!ison"  *ngIf="roleuser !=='Candidat'" routerLink="/candidatlist" title="">Candidat</a>
						  
							</li>
							<li class="menu-item-has-children">
								<a title="">Offre</a>
								<ul>
								  <li><a  routerLink="/stage" title="">Stage</a></li>
								  <li><a  routerLink="/travaille" title="">Travaille</a></li>
								  
		
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#"  routerLink="/formation" title="">Formation</a>
							   
							</li>
							<li class="menu-item-has-children">
								<a  [hidden]="ison" routerLink="/howitworks">A propos</a>
		
							</li>
							<li class="menu-item-has-children">
								<a href="#" routerLink="/contact">Contact</a>
		
							</li>
						  <!--  <li class="menu-item-has-children">
								<a href="#" title="">Pages</a>
								<ul>
									<li><a href="about.html" title="">About Us</a></li>
									<li><a href="404.html" title="">404 Error</a></li>
									<li><a href="contact.html" title="">Contact Us 1</a></li>
									<li><a href="pricing.html" title="">Pricing Plans</a></li>
									<li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
								</ul>
							</li>-->
						</ul>
					</nav>
				</ul>
			</div>
		</div>
	</div>
	
<!-- ***** -->

<header class="stick-top forsticky">
    <div class="menu-sec">
        <div class="container">
            <div class="logo">
                <a href="index.html" title=""><img class="hidesticky" src="/assets/images/resource/logo.png" alt="" /><img class="showsticky" src="/assets/images/resource/logo10.png" alt="" /></a>
            </div><!-- Logo -->
            <div class="btn-extars">
                <a *ngIf="roleuser==='ResponsableSociete'" routerLink="/tajouter" title="" class="post-job-btn"><i class="la la-plus"></i>Ajouter Jobs</a>
				<a *ngIf="roleuser==='ResponsableCentre'" routerLink="/fajouter" title="" class="post-job-btn"><i class="la la-plus"></i>Ajouter Formation</a>

				<ul class="account-btns" [hidden]="ison">
                    <li class="signup-popup"><a title=""><i class="la la-key"></i> Inscription</a></li>
                    <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Connexion</a></li>
				</ul>
				
                <div  class="my-profiles-sec" [hidden]="!ison">
                    <span  style="color:rgb(184, 218, 218) ;font-size: 100%;"><img  width="55px" height="55px" src="http://localhost:8080/upload/files/{{logo}}" alt="" /> {{nomuser}}&nbsp;{{prenomuser}}
                        <i class="la la-bars"></i> </span>
				</div>
				<!--[hidden]="roleuser==='ResponsableCentre'" [hidden]="roleuser==='ResponsableSociete'"-->
				<div class="wishlist-dropsec"   [hidden]="!ison">
					<span [hidden]="roleuser !=='Candidat'" style="color:rgb(184, 218, 218)" ><i  class="la la-heart"></i><strong >{{listfavoriebycandidat?.length}}</strong></span>
					<div class="wishlist-dropdown">
						<ul class="scrollbar" >
							<li>

								<div style="margin-bottom: -50px; " *ngFor="let f of listfavoriebycandidat ;let i=index">
									<div class="job-listing wtabs"*ngIf="i<2" >
										<div class="c-logo"> <img src="http://localhost:8080/upload/files/{{f?.offre?.responsableSociete?.logo}}" alt="" /> </div>										
										<h3><a href="#" title="">{{f?.offre.titre}}</a></h3>
										<span>{{f?.offre.responsableSociete?.nom}}</span>									
									</div>


								</div><!-- Job -->
								<div>
									<span><a style="text-align: center;margin-left: 100px;" routerLink="/favorielist"> Liste Favories</a>

									</span>
								</div>

							</li>
						</ul>

					</div>
				</div>
             <!--  <ul class="account-btns" [hidden]="!ison">
             <li ><a (click)="deconecter()" title=""><i  class="la la-external-link-square"></i> decoonecter</a></li>
              </ul> -->
            </div><!-- Btn Extras -->
            <nav>
                <ul>
                    <li class="menu-item-has-children">
                        <a  href="" title="">Accueil</a>
                       
					</li>
					
                    <li class="menu-item-has-children">
                        <a [hidden]="!ison"  *ngIf="roleuser !=='Candidat'" routerLink="/candidatlist" title="">Candidat</a>
                  
                    </li>
                    <li class="menu-item-has-children">
                        <a title="">Offre</a>
                        <ul>
                          <li><a  routerLink="/stage" title="">Stage</a></li>
                          <li><a  routerLink="/travaille" title="">Travaille</a></li>
                          

                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#"  routerLink="/formation" title="">Formation</a>
                       
					</li>
					<li class="menu-item-has-children">
                        <a  [hidden]="ison" routerLink="/howitworks">A propos</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" routerLink="/contact">Contact</a>

                    </li>
                  <!--  <li class="menu-item-has-children">
                        <a href="#" title="">Pages</a>
                        <ul>
                            <li><a href="about.html" title="">About Us</a></li>
                            <li><a href="404.html" title="">404 Error</a></li>
                            <li><a href="contact.html" title="">Contact Us 1</a></li>
                            <li><a href="pricing.html" title="">Pricing Plans</a></li>
                            <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
                        </ul>
                    </li>-->
                </ul>
            </nav><!-- Menus -->
        </div>
    </div>
</header>

<!-- SIGNUP POPUP -->
<div class="profile-sidebar">
	<span class="close-profile"><i class="la la-close"></i></span>
	<div class="can-detail-s">
     
       

		<div class="cst"><img src="http://localhost:8080/upload/files/{{logo}}" alt="" /></div>
		<h3 class="menu-item-has-children">  {{nomuser}}&nbsp;{{prenomuser }} </h3>
		<p><a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7516071014011c031019140c100706454d4d351218141c195b161a18">{{user?.email}}</a></p>
		<p><i class="la la-map-marker"></i>{{user?.adresse}}</p>
	</div>
	<div class="tree_widget-sec">
		<ul>
			<li><a *ngIf="roleuser==='Candidat'"  routerLink="/candidat/profil" title=""><i class="la la-file-text"></i>Profil</a></li>
			<li><a *ngIf="roleuser==='ResponsableSociete'"  routerLink="/psociete" title=""><i class="la la-file-text"></i>Profil-Société</a></li>

			<li><a *ngIf="roleuser==='ResponsableCentre'"  routerLink="/pcentre" title=""><i class="la la-file-text"></i>Profil-Centre</a></li>

			<li><a href="candidates_my_resume.html" title=""><i class="la la-briefcase"></i>Resume</a></li>
			<li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Mes souscriptions</a></li>
			<li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Mes inscriptions</a></li>
			<li><a (click)="deconecter()"  title=""><i class="la la-unlink"></i>Logout</a></li>
        </ul>
	</div>
</div><!-- Profile Sidebar -->