
<div class="container" >
    <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name">Name</label>
          
       <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name" >

       <div *ngIf="name.touched && name.invalid">
        <small *ngIf="name.errors.required" class="text-danger">name is required<br></small>
        <small *ngIf="name.errors.pattern" class="text-danger">Invalid name<br></small>
        <small *ngIf="name.errors.minlength" class="text-danger">name must contain two characters at least</small>
    </div>


    </div>
       <!--<div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div> -->
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <input type="submit" value="Send" class="btn btn-info" [disabled]="myForm.invalid" >
        <input type="submit" value="Add" class="btn btn-danger" [routerLink]="['/add-user']">
        <input type="submit" value="Update" class="btn btn-warning" [routerLink]="['/update-user']">
        </form>     
</div>


<table class="container" >
    <thead>
        <tr>
         
            <th>Firstname</th>
            <th>price</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let user of usersList">
            
            <td>{{ user.name }}</td>
            <td>{{ user.price }}</td>
           
            <td>
                <button class="btn btn-info">Details</button>
                <!-- <button class="btn btn-danger mx-3" (click)="delete(user.id)">Delete</button> -->
                <button class="btn btn-warning" [routerLink]="['/update-user/:id']" >Update</button>
            </td>
        </tr>
    </tbody>

