<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>{{stage.titre}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                 <div class="col-lg-8 column">
                     <div class="job-single-sec">
                         <div class="job-single-head2">
                             <div class="job-title2"><h3>{{stage.technologie}}</h3><span class="job-is ft">{{stage.type}}</span><i class="la la-heart-o"></i></div>
                             <ul class="tags-jobs">
                                 <li><i class="la la-map-marker"></i> {{stage.adresse}}</li>
                                 <li><i class="la la-money"></i> Monthly Salary : <span>{{stage.typeContrat}}</span></li>
                                 <li><i class="la la-calendar-o"></i> Post Date: {{stage.date_deb}}</li>
                             </ul>
                             <span><strong>type</strong> : {{stage.type}}</span>
                         </div><!-- Job Head -->
                         <div class="job-details">
                             <h3> Description</h3>
                             <p>{{stage.description}}</p>

                        <p>Nécessité de soulever des charges pour l’épicerie et la participation aux leçons de natation. Le travail se déroulera dans la maison et la collectivité de la personne.</p>
                         </div>
                         <div class="job-overview">
                             <h3>Job Overview</h3>
                             <ul>
                                 <li><i class="la la-money"></i><h3>Offerd Salary</h3><span>£15,000 - £20,000</span></li>
                                 <li><i class="la la-mars-double"></i><h3>Gender</h3><span>Female</span></li>
                                 <li><i class="la la-thumb-tack"></i><h3>Career Level</h3><span>Executive</span></li>
                                 <li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>Management</span></li>
                                 <li><i class="la la-shield"></i><h3>Experience</h3><span>2 Years</span></li>
                                 <li><i class="la la-line-chart "></i><h3>Qualification</h3><span>Bachelor Degree</span></li>
                             </ul>
                         </div><!-- Job Overview -->
                        
                     </div>
                 </div>
                 <div class="col-lg-4 column">
                     <div class="job-single-head style2">
                         <div class="job-thumb"> <img src="http://localhost:8080/upload/files/{{stage?.responsableSociete?.logo}}"  alt="" /> </div>
                         <div class="job-head-info">
                             <h4>{{stage.titre}}</h4>
                             <span>{{stage?.responsableSociete?.adresse}}</span>
                             <p><i class="la la-unlink"></i>{{stage?.responsableSociete?.siteWeb}} </p>
                             <p><i class="la la-phone"></i> {{stage?.responsableSociete?.telephone}}</p>
                             <p><i class="la la-envelope-o"></i>
                                 <a href="https://grandetest.com/cdn-cgi/l/email-protection" 
                                 class="__cf_email__" data-cfemail="b0d1dcd99ec4c5d6d1def0dadfd2d8c5dec49ed3dfdd">{{stage?.responsableSociete?.email}}</a></p>
                         </div>
                          <!-- <div [hidden]="affichcvinput"><input  type="file" class="form-control" (change)="handleFileInput($event.target.files)" />
                        </div> -->
                        
                        <div class="uploadbox" style="margin-left: 80px;">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="la la-cloud-upload"></i> <span>Choisir fichier</span>
                            </label>
                            <div> <input id="file-upload" style="display: none;" type="file" class="form-control" (change)="handleFileInput($event.target.files)" />
                            </div>
                            </div>
                           
                        
                          <a (click)="postuler()" style="margin-top: 20px;" class="apply-job-btn"><i class="la la-paper-plane"></i>postuler a l'offre</a>
                    
                         <a routerLink='/stage' title="" class="viewall-jobs">View all Jobs</a>
                     </div><!-- Job Head -->
                 </div>
            </div>

            <div class="col-lg-9 column">
                <div class="modrn-joblist">
                  
                  <div class="filterbar">
                    <div class="sortby-sec">
                   </div>
                    <h5>{{listpostuler.length}} Offre & Postulation</h5>
                  </div>
                </div><!-- MOdern Job LIst -->
                <div class="job-list-modern">
                  <div class="job-listings-sec">
                    <div class="emply-resume-list square" *ngFor= "let list of listpostuler | paginate: { itemsPerPage: 5, currentPage: p } ">
                        <div class="emply-resume-thumb">
                            <img src="http://localhost:8080/upload/files/{{list?.candidat?.logo}}" alt="" />
                        </div>
                        <div class="emply-resume-info">
                            <h3><a href="#" title="">{{list?.candidat?.nom}}&nbsp;{{list?.candidat?.prenom}}</a></h3>
                            <span><i>{{list?.candidat?.compteLinkedin}}</i> at Atract Solutions</span>
                            <p><i class="la la-map-marker"></i>{{list?.candidat?.adresse}}</p>
                            <div style="font-size: 13px;"><a href="#" title=""><i class="la la-calendar-o"></i>{{list.date | date:'M/d/yy, h:mm a'}} </a></div>

                        </div>
                        <div class="shortlists">
                            <a href="#" title="">Message <i class="la la-plus"></i></a>
                        </div>
                 </div>
      
      
                  </div>
      
                  <div class="pagination">
                    <ul>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                     </ul>
                    </div>            
                  </div>
                
              </div>
        </div>
    </div>
</section>
