
<div class="theme-layout" id="scrollup">
	


	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Application Developer For Android</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<section>
<div class="block">
	<div class="container" >
		<div class="row">
			<div class="col-lg-12 column">
				<div class="job-single-sec style3">
					<div class="job-head-wide">
						<div class="row">
					<div class="col-lg-8" >
						<div class="job-single-head3"  >
							<div class="job-thumb" >
								<img src="http://localhost:8080/upload/files/{{formation.responsableCentre.logo}}" alt="" />
								<span>{{formation.nombre}} Open Position</span> 
                            </div>
						<div class="job-single-info3" >
							<h3>{{formation.titre}}</h3>
							<span><i class="la la-map-marker"></i>{{formation.responsableCentre.adresse}}</span><span class="job-is ft">Full time</span>
							<ul class="tags-jobs">
								<li><i class="la la-file-text"></i> {{formation.titre}}</li>
								<li><i class="la la-calendar-o"></i> Date Debut: {{formation.date_deb}}</li>
								<li><i class="la la-envelope-o"></i> <a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1d7c71743369687b7c735d77727f75687369337e7270">{{formation.responsableCentre.email}}</a></li>
							</ul>
							</div>
						</div><!-- Job Head -->
					    </div>
				 					<div class="col-lg-4">
				 						<a  [hidden]="roleuser ==='ResponsableCentre'" class="apply-thisjob" href="#" title=""><i class="la la-paper-plane"></i>Apply for job</a>
										 <a  [hidden]="roleuser ==='Candidat'"  routerLink="/formation/update/{{formation.id}}" class="apply-thisjob" href="#" title=""><i class="la la-paper-plane"></i>Modifier Votre Formation</a>
				 					</div>
				 				</div>
				 			</div>
				 	<div class="job-wide-devider">
						<div class="row">
							<div class="col-lg-8 column">		
								<div class="job-details">
									<h3>Job Description</h3>
									<p>{{formation?.description}}</p>
												
								</div>
							 			
							 			<div class="extra-job-info">
								 			<span><i class="la la-clock-o"></i><strong>{{listcommentaire.length}}</strong> Comments</span>
								 		
								 		</div>
								 		<div class="recent-jobs">
							 				<h3>Listes des Commntaires:</h3>
							 				<div class="job-list-modern">
											 	<div class="job-listings-sec no-border">
													<div class="job-listing wtabs"  *ngFor="let comentaire of listcommentaire  | paginate: { itemsPerPage: 9, currentPage: p }">
														<div class="job-title-sec">
															<div class="c-logo"> <img src="http://localhost:8080/upload/files/{{comentaire.candidat.logo}}" alt="" /> </div>
															<h3><a href="#" title="">{{comentaire.candidat.nom}} &nbsp;{{comentaire.candidat.prenom}}</a></h3>
															
															<div class="job-lctn"><i class="la la-map-marker"></i>{{comentaire.candidat.adresse}}</div>
														
														
															<h4>{{comentaire.description}}</h4>
														</div>
														<div class="job-style-bx">
															
															<span class="fav-job"><i class="la la-time-o"></i>	{{comentaire.date | date:'M/d/yy, h:mm a'}}</span>
												
														</div>
													</div>
													
												</div>

												<div class="comment-sec">
													<h3>{{listcommentaire.length}} Commentaires</h3>
													<ul>
														
														<li>
															<div class="comment" *ngFor="let comentaire of listcommentaire  | paginate: { itemsPerPage: 9, currentPage: p }">
																<div class="comment-avatar"> <img img src="http://localhost:8080/upload/files/{{comentaire.candidat.logo}}" alt="" /> </div>
																<div class="comment-detail">
																	<h3>{{comentaire.candidat.nom}} &nbsp;{{comentaire.candidat.prenom}}</h3>
																	<div class="date-comment"><a href="#" title=""><i class="la la-calendar-o"></i>{{comentaire.date | date:'M/d/yy, h:mm a'}} am</a></div>
																	<p>{{comentaire.description}} </p>
																	<a href="#" title=""><i class="la la-reply"></i>Reply</a>
																</div>
															</div>
														</li>
														
													</ul>
												</div>
												<div class="job-listing wtabs">
													<div class="job-title-sec">
														<form [formGroup]="myForm" (ngSubmit)="savecommentaire()">
															<div class="form-group">
															
															  
														   <input type="text"  placeholder=" write a Comment" class="form-control" id="description"  formControlName="description" >
													
														 
													
													
														</div>
														 
															<button  class="submit" type="submit" >add</button>
															</form> 	
													</div>
													
												</div>
											 </div>
							 			</div>
							 		</div>
							 		<div class="col-lg-4 column">
							 			<div class="job-overview">
								 			<h3>Job Overview</h3>
								 			<ul>
								 				<li><i class="la la-shield"></i><h3>Titre</h3><span>£15,000 - £20,000</span></li>
								 				<li><i class="la la-mars-double"></i><h3>durée</h3><span>Female</span></li>
								 				<li><i class="la la-line-chart "></i><h3>Date</h3><span>Executive</span></li>
								 				<li><i class="la la-puzzle-piece"></i><h3>Nombre</h3><span>Management</span></li>
								 				<li><i class="la la-money"></i><h3>Prix</h3><span>2 Years</span></li>
								 				<li><i class="la la-line-chart "></i><h3>Téléphone</h3><span>Bachelor Degree</span></li>
								 			</ul>
								 		</div><!-- Job Overview -->
								 		<div class="quick-form-job">
								 			<h3>Contact</h3>
								 			<form>
								 				<input type="text" placeholder="Enter your Name *" />
								 				<input type="text" placeholder="Email Address*" />
								 				<input type="text" placeholder="Phone Number" />
								 				<textarea placeholder="Message should have more than 50 characters"></textarea>
								 				<button class="submit">Envoyer Email</button>
								 				<span>Vous acceptez nos conditions générales</span>
								 			</form>
								 		</div>
							 		</div>
							 	</div>
							 </div>
					 	</div>
				 	</div>
				</div>
			</div>
        </div>
        
		<div class="pagination">
            <ul>
           
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </ul>
          </div><!-- Pagination -->
   
	</section>



</div>
