




<div class="theme-layout" id="scrollup">




  <section class="overlape">
    <div class="block no-padding">
      <div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Bienvenue {{nomuser}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block remove-top">
      <div class="container">
        <div class="row no-gape">
          <aside class="col-lg-3 column border-right">
            <div class="widget">
              <div class="tree_widget-sec">
                <ul>
                	<li><a routerLink="/psociete" title=""><i class="la la-file-text"></i>My Profile</a></li>
									<li><a href="candidates_my_resume.html" title=""><i class="la la-briefcase"></i>My Resume</a></li>
									<li><a routerLink="/tajouter"  title=""><i class="la la-file-text"></i>Ajouter Nouveau travaille</a></li>
									<li><a routerLink="/sajouter" title=""><i class="la la-file-text"></i>Ajouter Nouveau Stage</a></li>

                  <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="widget">
              <div class="skill-perc">
                <h3>Votre Profile </h3>
              
              </div>
            </div>
          </aside>
          <div class="col-lg-9 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <div class="border-title"><h3 style="color: #fb236a">Ajouter un offre de travaille</h3><a class="cancel" (click)="reset()"  title=""><i class="la la-close"></i> Cancel</a></div>

                <form [formGroup]="AjouterTravailleForm">
                  <div class="resumeadd-form">
                    <div class="row">
                      <div class="col-lg-6">
                        <span class="pf-title">Secteur</span>

                      <!--   <select  class="pf"  [ngClass]="{ 'is-invalid': touched && f.titre.errors }" >

                          <option  *ngFor=" let e of listsecteur" value="{{e.id}}"  >{{e.nom}}</option>
                        </select> -->
                     
                        <select  formControlName="idsecteur" id="idsecteur" class="form-control"  [ngClass]="{ 'is-invalid': f.idsecteur.touched && f.idsecteur.errors }" >

                          <option  *ngFor=" let e of listsecteur" value="{{e.id}}"  >{{e.nom}}</option>
                          <div *ngIf="f.idsecteur.touched && f.idsecteur.errors" class="invalid-feedback">
                            <div *ngIf="f.idsecteur.errors.required"> champ est obligatoire</div>
                            </div>
                        </select>
                     
                    </div>
                      <div class="col-lg-12">
                        <span class="pf-title">Titre</span>
                        <div class="pf-field">
                          <input placeholder="Titre.." formControlName="titre" [ngClass]="{ 'is-invalid': f.titre.touched && f.titre.errors }" type="text">
                          <div *ngIf="f.titre.touched && f.titre.errors" class="invalid-feedback">
                            <div *ngIf="f.titre.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Technologie</span>
                        <div class="pf-field">
                          <input placeholder="Technologie.." type="text"  formControlName="technologie" [ngClass]="{ 'is-invalid': f.technologie.touched && f.technologie.errors }" >
                          <div *ngIf="f.technologie.touched && f.technologie.errors" class="invalid-feedback">
                            <div *ngIf="f.technologie.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Date Debut</span>
                        <div class="pf-field">
                          <input placeholder="06.11.2012" type="date" class="datepicker" formControlName="date_deb"  [ngClass]="{ 'is-invalid': f.date_deb.touched && f.date_deb.errors }" >
                          <div *ngIf="f.date_deb.touched && f.date_deb.errors" class="invalid-feedback">
                            <div *ngIf="f.date_deb.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Prix</span>
                        <div class="pf-field">
                          <input type="text" placeholder="Prix.."class="datepicker" formControlName="typeContrat" [ngClass]="{ 'is-invalid': f.typeContrat.touched && f.typeContrat.errors }">
                          <div *ngIf="f.typeContrat.touched && f.typeContrat.errors" class="invalid-feedback">
                            <div *ngIf="f.typeContrat.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Type de offre</span>
                        <div class="pf-field">
                          <input type="text" placeholder="Type.." formControlName="type"  [ngClass]="{ 'is-invalid': f.type.touched && f.type.errors }" >
                          <div *ngIf="f.type.touched && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.type.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Adresse</span>
                        <div class="pf-field">
                          <input type="text" placeholder="Adresse.." class="datepicker" formControlName="adresse" [ngClass]="{ 'is-invalid': f.adresse.touched && f.adresse.errors }">
                          <div *ngIf="f.adresse.touched && f.adresse.errors" class="invalid-feedback">
                            <div *ngIf="f.adresse.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Siege</span>
                        <div class="pf-field">
                          <input type="text" class="datepicker" formControlName="siege"  [ngClass]="{ 'is-invalid': f.siege.touched && f.siege.errors }">
                          <div *ngIf="f.siege.touched && f.siege.errors" class="invalid-feedback">
                            <div *ngIf="f.siege.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <span class="pf-title" >Description</span>
                        <div class="pf-field">
                          <textarea    formControlName="description" [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors }" ></textarea>
                          <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required"> champ est obligatoire</div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <button type="submit" (click)="AjouterTravaille()">Ajouter</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- Include Date Range Picker -->

</div>
