
<div class="page-loading">
  <img src="/assets/images/loader.gif" alt="" />
  <span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">

  <app-navbar></app-navbar>

  <header class="stick-top">
    <div class="menu-sec">
      <div class="container">
        <div class="logo">
          <a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a>
        </div><!-- Logo -->
     
        <div class="wishlist-dropsec">
           <div class="wishlist-dropdown">
            <ul class="scrollbar">
              <li>
                <div class="job-listing">
                  <div class="job-title-sec">
                    <div class="c-logo"> <img src="/assets/images/resource/l1.png" alt="" /> </div>
                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                    <span>Massimo Artemisis</span>
                  </div>
                </div><!-- Job -->
              </li>
              <li>
                <div class="job-listing">
                  <div class="job-title-sec">
                    <div class="c-logo"> <img src="/assets/images/resource/l2.png" alt="" /> </div>
                    <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                    <span>StarHealth</span>
                  </div>
                </div><!-- Job -->
              </li>
              <li>
                <div class="job-listing">
                  <div class="job-title-sec">
                    <div class="c-logo"> <img src="/assets/images/resource/l3.png" alt="" /> </div>
                    <h3><a href="#" title="">Marketing Director</a></h3>
                    <span>Tix Dog</span>
                  </div>
                </div><!-- Job -->
              </li>
              <li>
                <div class="job-listing">
                  <div class="job-title-sec">
                    <div class="c-logo"> <img src="/assets/images/resource/l4.png" alt="" /> </div>
                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                    <span>Massimo Artemisis</span>
                  </div>
                </div><!-- Job -->
              </li>
              <li>
                <div class="job-listing">
                  <div class="job-title-sec">
                    <div class="c-logo"> <img src="/assets/images/resource/l5.png" alt="" /> </div>
                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                    <span>Massimo Artemisis</span>
                  </div>
                </div><!-- Job -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="overlape">
    <div class="block no-padding">
      <div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
      <div class="container fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Welcome Ali TUFAN</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block remove-top">
      <div class="container">
        <div class="row no-gape">
          <aside class="col-lg-3 column border-right">
            <div class="widget">
              <div class="tree_widget-sec">
                <ul>
                  <li><a href="candidates_profile.html" title=""><i class="la la-file-text"></i>My Profile</a></li>
                  <li><a href="candidates_my_resume.html" title=""><i class="la la-briefcase"></i>My Resume</a></li>
                  <li><a href="candidates_shortlist.html" title=""><i class="la la-money"></i>Shorlisted Job</a></li>
                  <li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
                  <li><a href="candidates_job_alert.html" title=""><i class="la la-user"></i>Job Alerts</a></li>
                  <li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Cv & Cover Letter</a></li>
                  <li><a href="candidates_change_password.html" title=""><i class="la la-flash"></i>Change Password</a></li>
                  <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="widget">
              <div class="skill-perc">
                <h3>Skills Percentage </h3>
                <p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
                <div class="skills-bar">
                  <span>85%</span>
                  <div
                    class="second circle"
                    data-size="155"
                    data-thickness="60">
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <div class="col-lg-9 column">
            <div class="padding-left">
              <div class="manage-jobs-sec">
                <div class="border-title"><h3>Add a job offer</h3><a class="cancel" (click)="reset()"  title=""><i class="la la-close"></i> Cancel</a></div>

                <form [formGroup]="AjouterTravailleForm">
                  <div class="resumeadd-form">
                    <div class="row">
                      <div class="col-lg-6">
                        <span class="pf-title">Secteur</span>

                        <select  class="pf" formControlName="idsecteur" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }" >

                          <option  *ngFor=" let e of listsecteur" value="{{e.id}}"  >{{e.nom}}</option>
                        </select>
                      </div>

                      <div class="col-lg-12">
                        <span class="pf-title">Titre</span>
                        <div class="pf-field">
                          <input placeholder="Tooms.." formControlName="titre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }" type="text">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Date Debut</span>
                        <div class="pf-field">
                          <input placeholder="06.11.2007" type="date" class="datepicker" formControlName="date_deb" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_deb.errors }" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Date Fin</span>
                        <div class="pf-field">
                          <input placeholder="06.11.2012" type="date" class="datepicker" formControlName="date_fin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_fin.errors }" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Durée de la Formation</span>
                        <div class="pf-field">
                          <input type="text" placeholder="duree.."class="datepicker" formControlName="duree" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.duree.errors }">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Nombre de Candidature</span>
                        <div class="pf-field">
                          <input type="text" placeholder="nombre.."class="datepicker" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Prix de Formation</span>
                        <div class="pf-field">
                          <input type="text" placeholder="duree.." class="datepicker" formControlName="prix" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prix.errors }">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <span class="pf-title">Emplacement</span>
                        <div class="pf-field">
                          <input type="text" class="datepicker" formControlName="prix" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prix.errors }">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <span class="pf-title" >Description</span>
                        <div class="pf-field">
                          <textarea    formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <button type="submit" (click)="AjouterTravaille()">Save</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- Include Date Range Picker -->

</div>
