

<div class="theme-layout" id="scrollup">
	


    <div class="theme-layout" id="scrollup">
	
        <div class="responsive-header">
        
            
        </div>
        
        <header class="gradient">
            <div class="menu-sec">
                <div class="container">
                    <div class="logo">
                        <a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a>
                    </div><!-- Logo -->
                
                    
                </div>
            </div>
        </header>
    
     
    
    
        
    
    </div>
    
    
    

	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Contact</h3>
								<span>Restez au courant des dernières nouvelles</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a href="#" title="">Accueil</a></li>
									<li><a href="#" title="">Pages</a></li>
									<li><a href="#" title="">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-6 column">
				 		<div class="contact-form">
				 			<h3>Rester en contact</h3>
				 			<form>
				 				<div class="row">
				 					<div class="col-lg-12">
				 						<span class="pf-title">Nom et Prénom</span>
				 						<div class="pf-field">
				 							<input type="text" placeholder="Votre nom..." />
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Email</span>
				 						<div class="pf-field">
				 							<input type="text" placeholder="Votre Email..." />
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Sujet</span>
				 						<div class="pf-field">
				 							<input type="text" placeholder="Votre Sujet..." />
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Message</span>
				 						<div class="pf-field">
				 							<textarea></textarea>
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<button type="submit">Envoyer</button>
				 					</div>
				 				</div>
				 			</form>
				 		</div>
				 	</div>
				 	<div class="col-lg-6 column">
					 	<div class="contact-textinfo style2">
					 		<h3>JobGate Srl Bureau</h3>
					 		<ul>
					 			<li><i class="la la-map-marker"></i><span>Sousse Tunisia 4041 </span></li>
					 			<li><i class="la la-phone"></i><span>Telephone : 0934 343 343</span></li>
					 			<li><i class="la la-fax"></i><span>Fax : 0934 343 343</span></li>
					 			<li><i class="la la-envelope-o"></i><span>Email : <a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0b62656d644b616469637e657f25686466">Benfredj1991@gmal.com</a></span></li>
					 		</ul>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>
</div>