
<div class="theme-layout" id="scrollup">
	

	


	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(/assets/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Bienvenue {{nomuser}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="search_widget_job">
								<div class="field_w_search">
									<input type="text"  id="titre" [formControl]="titre"/>
									<i class="la la-search"></i>
								  </div><!-- Search Widget -->
								  <div class="field_w_search">
									<input type="text" id="adresse" [formControl]="adresse" />
									<i class="la la-map-marker"></i>
								  </div><!-- Search Widget -->
				 			</div>
				 		</div>
				 
				 	
				 	</aside>
				 	<div class="col-lg-9 column">
            <div class="filterbar">
              <h5>{{listformation.length}} Formation & Vacancies</h5>
               </div>
				 		<div class="emply-list-sec">
               
				 			<div class="emply-list"  *ngFor=" let e of listformation | formation: [titre.value, adresse.value]: ['titre', 'adresse']| paginate: { itemsPerPage: 9, currentPage: p };let i=index">
				 				<div class="emply-list-thumb">
				 					<a href="#" title=""><img src="http://localhost:8080/upload/files/{{e?.responsableCentre?.logo}}" alt="" /></a>
				 				</div>
				 				<div class="emply-list-info">
				 					<div class="emply-pstn">{{e.nombre}} poste libre</div>
				 					<h3><a routerLink="/formation/{{e.id}}" title="">{{e.titre}}</a></h3>
				 					<span>{{e?.responsableCentre?.nom}}</span>
				 					<h6><i class="la la-map-marker"></i> {{e.adresse}}</h6>
				 					<p>{{e.description}}</p>
				 				</div>
				 			</div><!-- Employe List -->
				 	
				 
				 	
               <div class="pagination">
                <ul>
               
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
                </ul>
              </div><!-- Pagination -->
				 		</div>
					</div>
				 </div>
			</div>
		</div>
	</section>



</div>

