

<div class="theme-layout" id="scrollup">
	
	<div class="responsive-header">
	
		
	</div>
	
	<header class="gradient">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img src="/assets/images/resource/logo.png" alt="" /></a>
				</div><!-- Logo -->
			
				
			</div>
		</div>
	</header>

	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Comment ça fonctionne</h3>
								<span>Obtenez une visite numérique de la façon dont Jobhunt fonctionne pour vous.</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a  title="">Accueil</a></li>
									<li><a  title="">Pages</a></li>
									<li><a  title="">Comment ça fonctionne</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="how-works">
							<div class="how-workimg"><img src="/assets/images/resource/hw1.jpg" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>1</span>
									<i class="la la-user"></i>
									<h3>Créer un compte</h3>
									<p>inJob est le premier et le plus ancien recrutement en ligne en Turquie. Nous comprenons que les demandeurs d'emploi viennent chez nous non seulement pour un emploi, mais pour une opportunité de réaliser leur professionnel.</p>
								</div>
							</div>
						</div>
						<div class="how-works flip">
							<div class="how-workimg"><img src="/assets/images/resource/hw2.jpg" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>2</span>
									<i class="la la-file-text"></i>
									<h3>Spécifiez et recherchez votre travail.</h3>
									<p>Vous recevrez des candidatures par e-mail. Vous pouvez également gérer les emplois et les candidats à partir de votre tableau de bord Indeed. Passez en revue les candidatures, planifiez des entretiens et consultez les candidats recommandés à partir d'un seul endroit.</p>
								</div>
							</div>
						</div>
						<div class="how-works">
							<div class="how-workimg"><img src="/assets/images/resource/hw3.jpg" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>3</span>
									<i class="la la-pencil"></i>
									<h3>Postuler pour un travail</h3>
									<p>inJob est le premier et le plus ancien recrutement en ligne en Turquie. Nous comprenons que les demandeurs d'emploi viennent chez nous non seulement pour un emploi, mais pour une opportunité de réaliser leur professionnel.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

</div>


