
      <div class="page-loading">
  <img src="/assets/images/loader.gif" alt=""/>
</div>

<div class="theme-layout" id="scrollup">

  <app-navbar ></app-navbar>

<router-outlet></router-outlet>



</div>

<div class="account-popup-area signin-popup-box">
  <div class="account-popup">
    <span class="close-popup"><i class="la la-close"></i></span>
    <h3>User Login</h3>
    <span>Click To Login With Demo User</span>
    <div class="select-user">

    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
      <div class="cfield">
        <input type="text" formControlName="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && b.username.errors }" />
        <div *ngIf="submitted && b.username.errors" class="invalid-feedback">
          <div *ngIf="b.username.errors.required">Nom d'utilisateur est obligatoire</div>
          <i class="la la-user-times"></i>
        </div>
      </div>
      <div class="cfield">
        <input type="password" placeholder="********" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && b.password.errors }"/>
        <div *ngIf="submitted && b.password.errors" class="invalid-feedback">
          <div *ngIf="b.password.errors.required">Mot de passe obligatoire</div>
          <i class="la la-key"></i>
        </div>
      </div>
      <p class="remember-label">
        <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
      </p>
      <a href="#" title="">Forgot Password?</a>
      <button type="submit">Login</button>
    </form>
    <div class="extra-login">
      <span>Or</span>
      <div class="login-social">
        <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
        <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
  <div class="account-popup">
    <span class="close-popup" ><i class="la la-close"></i></span>
    <h3>Sign Up</h3>
    <div class="row clearfix">


      <div class="select-user">
        <span (click)="choisircandiat()">Candidate</span>
        <span (click)="choisircentre()">centre</span>
        <span (click)="choisirsocite()">societe</span>
      </div>
    </div>
    <form *ngIf="choix=='candidat'" [formGroup]="registerCandidatForm" >

         <div class="cfield">
            <input type="text" placeholder="Username" 
             formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">username is required</div>
              <div *ngIf="f.username.errors.pattern">Invalid username</div>
              <div *ngIf="f.username.errors.minlength">username must contain two characters at least</div>
            </div>
            <i class="la la-user"></i>
          
          </div>
          <div class="cfield">
            <input type="text" placeholder="First Name"  formControlName="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">name is required</div>
              <div *ngIf="f.nom.errors.pattern">Invalid name</div>
              <div *ngIf="f.nom.errors.minlength">name must contain two characters at least</div>
            </div>
            <i class="la la-user"></i>
          </div>


          <div class="cfield">
            <input type="text" placeholder="Last Name"  formControlName="prenom"  [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
              <div *ngIf="f.prenom.errors.required">Last Name est incorrect</div>
              <div *ngIf="f.nom.errors.pattern">Invalid Last Name </div>
              <div *ngIf="f.nom.errors.minlength">Last Name  must contain two characters at least</div>
            </div>
            <i class="la la-users"></i>
          </div>
      
          <div class="cfield">
            <input type="text" placeholder="Adress"  formControlName="adresse"  [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
            <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
              <div *ngIf="f.adresse.errors.required">adresseis required</div>
              <div *ngIf="f.adresse.errors.minlength">Adresse  must contain ten characters at least</div>            </div>
            <i class="la la-map-marker"></i>
          </div>
 

       
          <div class="cfield">
            <input type="text" placeholder="Description"  formControlName="description"  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">description is required</div>
            <div *ngIf="f.description.errors.minlength">description must contain 30 characters at least</div>
            </div>
            <i class="la la-bars"></i>
        </div>

          <div class="cfield">
            <input type="text" placeholder="Compte Linkedin"  formControlName="compteLinkedin"  [ngClass]="{ 'is-invalid': submitted && f.compteLinkedin.errors }" />
            <div *ngIf="submitted && f.compteLinkedin.errors" class="invalid-feedback">
              <div *ngIf="f.compteLinkedin.errors.required">compteLinkedin is required</div>
            </div>
            <i class="la la-linkedin"></i>
          </div>

          <div class="cfield">
            <input  type='file' (change)="recuperFile($event)" />          
          </div>

          <div class="cfield">
            <input type="text" placeholder="Phone Number"  formControlName="telephone"  [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" />
            <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
              <div *ngIf="f.telephone.errors.pattern">Invalid Phone Number </div>
              <div *ngIf="f.telephone.errors.minlength">Phone Number  must contain two characters at least</div>
            </div>
            <i class="la la-phone"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="Study is Level"  formControlName="niveauEtude" [ngClass]="{ 'is-invalid': submitted && f.niveauEtude.errors }" />
            <div *ngIf="submitted && f.niveauEtude.errors" class="invalid-feedback">
              <div *ngIf="f.niveauEtude.errors.required">Study Level is required</div>
            </div>
            <i class="la la-mortar-board"></i>
          </div>

          <div class="cfield">
            <input type="date" formControlName="dateNaiss"  [ngClass]="{ 'is-invalid': submitted && f.dateNaiss.errors }"/>
            <div *ngIf="submitted && f.dateNaiss.errors" class="invalid-feedback">
              <div *ngIf="f.dateNaiss.errors.required">dateNaiss is required</div>
            </div>
            <i class=""></i>
            
          </div>
      

          <div class="cfield">
            <input type="text" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email est incorrect</div>
            </div>
            <i class="la la-envelope-o"></i>
        </div>


          <div class="cfield">
            <input [type]="getType()" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <i class="la la-eye" (click)="toggleTextPassword()"></i>
          </div>

          <div class="cfield">
            <input [type]="getType()" placeholder="Confirm Password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmpassword.errors.required">Confirm Password est incorrect</div>
            <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match</div>
            </div>
            <i class="la la-eye" (click)="toggleTextPassword()"></i>
          </div>
      

      <button (click)="registercandidat()" type="submit">Signup</button>
      <button  type="reset" (click)="reset()">Cancel</button>
    </form>

    <form *ngIf="choix=='societe'" [formGroup]="registerSocieteForm">


      <div class="cfield">
        <input type="text" placeholder="Username"  formControlName="username" [ngClass]="{ 'is-invalid': x.username.touched && x.username.errors }" />
        <div *ngIf="x.username.touched && x.username.errors" class="invalid-feedback">
          <div *ngIf="x.username.errors.required">username is required</div>
          <div *ngIf="x.username.errors.pattern">Invalid username</div>
          <div *ngIf="x.username.errors.minlength">username must contain two characters at least</div>
        </div>
        <i class="la la-user-times"></i>
      </div>

      <div class="cfield">
        <input type="text" placeholder="First Name"  formControlName="nom" [ngClass]="{ 'is-invalid': x.nom.touched && x.nom.errors }" />
        <div *ngIf="x.nom.touched && x.nom.errors" class="invalid-feedback">
          <div *ngIf="x.nom.errors.required">name is required</div>
          <div *ngIf="x.nom.errors.pattern">Invalid name</div>
          <div *ngIf="x.nom.errors.minlength">name must contain two characters at least</div>


        </div>
        <i class="la la-user"></i>
      </div>

      <div class="cfield">
        <input type="text" placeholder="Last Name"  formControlName="prenom" lass="form-control" [ngClass]="{ 'is-invalid': x.prenom.touched && x.prenom.errors }" />
        <div *ngIf="x.prenom.touched && x.prenom.errors" class="invalid-feedback">
          <div *ngIf="x.prenom.errors.required">Last Name est incorrect</div>
          <div *ngIf="x.nom.errors.pattern">Invalid Last Name </div>
          <div *ngIf="x.nom.errors.minlength">Last Name  must contain two characters at least</div>
        </div>
        <i class="la la-users"></i>
      </div>


      <div class="cfield">
        <input type="text" placeholder="Adress"  formControlName="adresse"  [ngClass]="{ 'is-invalid': x.adresse.touched && x.adresse.errors }" />
        <div *ngIf="x.adresse.touched && x.adresse.errors" class="invalid-feedback">
          <div *ngIf="x.adresse.errors.required">adresseis required</div>
          <div *ngIf="x.adresse.errors.minlength">Adresse  must contain ten characters at least</div>

        </div>
        <i class="la la-map-marker"></i>
      </div>

      <div class="cfield">
        <input type="text" placeholder="Description"  formControlName="description"  [ngClass]="{ 'is-invalid': x.description.touched && x.description.errors }" />
        <div *ngIf="x.description.touched && x.description.errors" class="invalid-feedback">
          <div *ngIf="x.description.errors.required">description is required</div>
          <div *ngIf="x.description.errors.minlength">description must contain 30 characters at least</div>

        </div>
        <i class="la la-bars"></i>
      </div>

      <div class="cfield">
        <input type="text" placeholder="Web Site"  formControlName="siteWeb"  [ngClass]="{ 'is-invalid': x.siteWeb.touched && x.siteWeb.errors }" />
        <div *ngIf="x.siteWeb.touched && x.siteWeb.errors" class="invalid-feedback">
          <div *ngIf="x.siteWeb.errors.required">Web Site is required</div>
          <div *ngIf="x.siteWeb.errors.minlength">Site must contain 30 characters at least</div>

        </div>
        <i class="la la-user"></i>
      </div>


      <div class="cfield">
        <input  type='file' (change)="recuperFile($event)" />          
      </div>

      <div class="cfield">
        <input type="text" placeholder="Phone Number"  formControlName="telephone"  [ngClass]="{ 'is-invalid': x.telephone.touched && x.telephone.errors }" />
        <div *ngIf="x.telephone.touched && x.telephone.errors" class="invalid-feedback">
          <div *ngIf="x.telephone.errors.required">Phone Number is required</div>
          <div *ngIf="x.telephone.errors.pattern">Invalid Phone Number </div>
          <div *ngIf="x.telephone.errors.minlength">Phone Number  must contain two characters at least</div>
        </div>
        <i class="la la-phone"></i>
      </div>

      <div class="cfield">
        <input type="text" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': x.email.touched  && x.email.errors }" />
        <div *ngIf="x.email.touched && x.email.errors" class="invalid-feedback">
          <div *ngIf="x.email.errors.required">Email is required</div>
          <div *ngIf="x.email.errors.email">Email est incorrect</div>
        </div>
        <i class="la la-envelope-o"></i>
      </div>

      <div class="cfield">
        <input [type]="getType()" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && x.password.errors }" />

        <div *ngIf="submitted && x.password.errors" class="invalid-feedback">
          <div *ngIf="x.password.errors.required">Password is required</div>
          <div *ngIf="x.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <i class="la la-eye" (click)="toggleTextPassword()"></i>
      </div>

      <div class="cfield">
        <input [type]="getType()" placeholder="Confirm Password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && x.confirmpassword.errors }" />
        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
          <div *ngIf="x.confirmpassword.errors.required">Confirm Password est incorrect</div>
        <div *ngIf="x.confirmpassword.errors.mustMatch">Passwords must match</div>
        </div>
        <i class="la la-eye" (click)="toggleTextPassword()"></i>
      </div>

     

      <button type="submit"  (click)="registerResponsableSociete()" >Signup</button>
      <button  type="reset" (click)="reset()">Cancel</button>

    </form>

  

    <form *ngIf="choix=='centre'" [formGroup]="registerCentreForm" >

          <div class="cfield">
            <input type="text" placeholder="Username"  formControlName="username" [ngClass]="{ 'is-invalid': v.username.touched && v.username.errors }" />
            <div *ngIf="v.username.touched && v.username.errors" class="invalid-feedback">
              <div *ngIf="v.username.errors.required">username is required</div>
              <div *ngIf="v.username.errors.pattern">Invalid username</div>
              <div *ngIf="v.username.errors.minlength">username must contain two characters at least</div>
            </div>
            <i class="la la-user-times"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="First Name"  formControlName="nom" [ngClass]="{ 'is-invalid': v.nom.touched  && v.nom.errors }" />
            <div *ngIf="v.nom.touched && v.nom.errors" class="invalid-feedback">
              <div *ngIf="v.nom.errors.required">name is required</div>
              <div *ngIf="v.nom.errors.pattern">Invalid name</div>
              <div *ngIf="v.nom.errors.minlength">name must contain two characters at least</div>


            </div>
            <i class="la la-user"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="Last Name"  formControlName="prenom" lass="form-control" [ngClass]="{ 'is-invalid': v.prenom.touched && v.prenom.errors }" />
            <div *ngIf="v.prenom.touched && v.prenom.errors" class="invalid-feedback">
              <div *ngIf="v.prenom.errors.required">Last Name est incorrect</div>
              <div *ngIf="v.prenom.errors.pattern">Invalid Last Name </div>
              <div *ngIf="v.prenom.errors.minlength">Last Name  must contain two characters at least</div>
            </div>
            <i class="la la-users"></i>
          </div>


          <div class="cfield">
            <input type="text" placeholder="Adress"  formControlName="adresse"  [ngClass]="{ 'is-invalid': v.adresse.touched && v.adresse.errors }" />
            <div *ngIf="v.adresse.touched && v.adresse.errors" class="invalid-feedback">
              <div *ngIf="v.adresse.errors.required">adresseis required</div>
              <div *ngIf="v.adresse.errors.minlength">Adresse  must contain ten characters at least</div>

            </div>
            <i class="la la-map-marker"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="Description"  formControlName="description"  [ngClass]="{ 'is-invalid': v.description.touched && v.description.errors }" />
            <div *ngIf="v.description.touched && v.description.errors" class="invalid-feedback">
              <div *ngIf="v.description.errors.required">description is required</div>
              <div *ngIf="v.description.errors.minlength">description must contain 30 characters at least</div>

            </div>
            <i class="la la-bars"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="Web Site"  formControlName="siteWeb"  [ngClass]="{ 'is-invalid': v.siteWeb.touched && v.siteWeb.errors }" />
            <div *ngIf="v.siteWeb.touched && v.siteWeb.errors" class="invalid-feedback">
              <div *ngIf="v.siteWeb.errors.required">Web Site is required</div>

            </div>
            <i class="la la-user"></i>
          </div>

          <div class="cfield">
            <input   type='file' (change)="recuperFile($event)" />          
          </div>

          <div class="cfield">
            <input type="text" placeholder="Phone Number"  formControlName="telephone"  [ngClass]="{ 'is-invalid': v.telephone.touched && v.telephone.errors }" />
            <div *ngIf="v.telephone.touched && v.telephone.errors" class="invalid-feedback">
              <div *ngIf="v.telephone.errors.required">Phone Number is required</div>
              <div *ngIf="v.telephone.errors.pattern">Invalid Phone Number </div>
              <div *ngIf="v.telephone.errors.minlength">Phone Number  must contain two characters at least</div>
            </div>
            <i class="la la-phone"></i>
          </div>

          <div class="cfield">
            <input type="text" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': v.email.touched && v.email.errors }" />
            <div *ngIf="v.email.touched && v.email.errors" class="invalid-feedback">
              <div *ngIf="v.email.errors.required">Email is required</div>
              <div *ngIf="v.email.errors.email">Email est incorrect</div>
            </div>
            <i class="la la-envelope-o"></i>
          </div>

          <div class="cfield">
            <input [type]="getType()" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && v.password.errors }" />
    
            <div *ngIf="submitted && v.password.errors" class="invalid-feedback">
              <div *ngIf="v.password.errors.required">Password is required</div>
              <div *ngIf="v.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <i class="la la-eye" (click)="toggleTextPassword()"></i>
          </div>
    
          <div class="cfield">
            <input [type]="getType()" placeholder="Confirm Password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && v.confirmpassword.errors }" />
            <div *ngIf="submitted && v.confirmpassword.errors" class="invalid-feedback">
              <div *ngIf="v.confirmpassword.errors.required">Confirm Password est incorrect</div>
            <div *ngIf="v.confirmpassword.errors.mustMatch">Passwords must match</div>
            </div>
            <i class="la la-eye" (click)="toggleTextPassword()"></i>
          </div>


      <button  type="submit" (click)="registerResponsableCentre()">Signup</button>
      <button  type="reset" (click)="reset()">cancel</button>

    </form>

  </div>


</div><!-- SIGNUP POPUP -->

<app-footer></app-footer>


<!-- <div class="row clearfix">
  <div class="col-md-6 col-sm-12">
    <div class="cfield">
      <input type="text" placeholder="prenom"  formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
      <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
        <div *ngIf="f.prenom.errors.required">prenom est incorrect</div>
      </div>
      <i class="la la-users"></i>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="cfield">
      <input type="text" placeholder="adresse"  formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
      <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
        <div *ngIf="f.adresse.errors.required">adresseis required</div>
      </div>
      <i class="la la-map-marker"></i>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="cfield">
      <input type="text" placeholder="description"  formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">description is required</div>
      </div>
      <i class="la la-bars"></i>
    </div>
  </div>
</div> -->
